@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Authentication System</h1>
    <div class="mt-4">
        <a href="@Url.Action("SignUp", "Account")" class="btn btn-primary btn-lg m-2">Sign Up</a>
        <a href="@Url.Action("SignIn", "Account")" class="btn btn-success btn-lg m-2">Sign In</a>
    </div>
</div>
